<form class="add_task_section">
  <h1>Add Task</h1>
  <div class="add_task_div">
    <div class="add_task_half">
      <label class="add_task_after_required" for="add_task_title">Title</label>
      <input oninput="enableCreateTaskButton()" onfocusout="checkRequiredTitel()" id="add_task_title" class="add_task_input" type="text"
        placeholder="Enter a title" required />
      <p id="add_task_required_title" class="add_task_required"></p>

      <label for="add_task_description">Description</label>
      <textarea name="" id="add_task_description" class="add_task_input" placeholder="Enter a Description"></textarea>
      <p class="add_task_required"></p>

      <label class="add_task_after_required" for="add_task_date">Due date</label>
      <input oninput="enableCreateTaskButton()" onfocusout="checkRequiredDate()" id="add_task_date" class="add_task_input" type="date" required />
      <p id="add_task_required_date" class="add_task_required"></p>

    </div>

    <div class="seperator"></div>

    <div class="add_task_half">
      <label>Priority</label>
      <section id="add_task_priority_section" class="add_task_priority_section">
        <button type="button" onclick="setBtnPriority('urgent')" id="add_task_btn_priority_urgent"
          class="add_task_btn_priorities">
          <p>Urgent</p>
          <img class="priority_icons" src="../assets/img/icons/priority_urgent_red.svg" alt="priority urgent">
        </button>
        <button type="button" onclick="setBtnPriority('medium')" id="add_task_btn_priority_medium"
          class="add_task_btn_priorities">
          <p>Medium</p>
          <img class="priority_icons" src="../assets/img/icons/priority_medium_orange.svg" alt="priority medium" />
        </button>
        <button type="button" onclick="setBtnPriority('low')" id="add_task_btn_priority_low"
          class="add_task_btn_priorities">
          <p>Low</p>
          <img class="priority_icons" src="../assets/img/icons/priority_low_green.svg" alt="priority low" />
        </button>
      </section>
      <p class="add_task_required"></p>


      <div class="editDialogBoardAssignedTo">
        <p>Assigned to</p>
        <div class="editDialogBoardAssignedToInputDiv">
            <input type="text" placeholder="Select contacts to assign"
                id="addTaskAssignedToInput" class="assignedToInput arrowDropDown"
                onclick="toggleAssignedContactToTaskMenu()"
                onkeyup="searchContactAssignedTo()">
            <div id="editDialogBoardAssignedToDropDown" class="d_none"></div>
        </div>
        <div id="addTask_assignedToIcons" class="editDialogBoardAssignedToIcons"></div>
        <p class="add_task_required"></p>
    </div>


      <label for="addTaskAssignedToInput">Assigned to</label>
      <section class="editDialogBoardAssignedToInputDiv">
        <input type="text" placeholder="Select contacts to assign" id=""
          class="arrowDropDown assignedToInput add_task_input" onclick="arrowDropDownSelection('addTaskAssignedTo')" />
        <div id="addTaskAssignedToDropDown" class="d_none">
          <div class="dropDownContacts contactChecked">
            <div class="dropDownContact">
              <svg width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.682129" y="0.396729" width="42" height="42" rx="21" fill="white" />
                <circle cx="21.6821" cy="21.3967" r="20" fill="#1FD7C1" stroke="white" stroke-width="2" />
                <path
                  d="M13.8151 25.3967V16.6695H19.0822V17.607H14.8719V20.5558H18.8094V21.4933H14.8719V24.4592H19.1503V25.3967H13.8151ZM20.987 16.6695H22.2484L25.2143 23.9138H25.3165L28.2824 16.6695H29.5438V25.3967H28.5552V18.766H28.4699L25.7427 25.3967H24.7881L22.0609 18.766H21.9756V25.3967H20.987V16.6695Z"
                  fill="white" />
              </svg>
              <p>Emmanuel Mauer</p>
            </div>
            <div class="editDialogBoardAssignedToDropDownCheckbox contactCheckedCheckbox">
            </div>
          </div>
        </div>
      </section>
      <p class="add_task_required"></p>

      <label class="add_task_after_required" for="addTaskCategoryInput">Category</label>
      <section class="editDialogBoardAssignedToInputDiv">
        <input type="text" placeholder="Select task category" id="addTaskCategoryInput"
          class="arrowDropDown assignedToInput add_task_input" onclick="arrowDropDownSelection('addTaskCategory')"
          readonly="true" required>
        <div id="addTaskCategoryDropDown" class="arrowDropDownInputs d_none">
          <div onclick="addTaskselectCategory('Technical Task'), enableCreateTaskButton()" class="arrowDropDownInput">
            <p>Technical Task</p>
          </div>
          <div onclick="addTaskselectCategory('User Story'), enableCreateTaskButton()" class="arrowDropDownInput">
            <p>User Story</p>
          </div>
        </div>
      </section>
      <p id="add_task_required_category" class="add_task_required"></p>

      <label for="add_task_subtask">Subtask</label>
      <section class="editDialogBoardSubtasks">
        <div class="addTaskSubtasksInput">
          <input id="add_task_subtask" type="text" placeholder="Add new subtask">
          <div onclick="clearSubtaskInput()" class="xIcon"></div>
          <div class="vectorAddSubtask"></div>
          <div class="addIcon"></div>
        </div>
        <div class="editDialogBoardSubtasksAdded">
          <li>Contact Form</li>
          <div class="editDivSubtasks">
            <div class="editIcon"></div>
            <div class="vectorAddSubtask"></div>
            <div class="deleteIcon"></div>
          </div>
        </div>
        <div class="editDialogBoardSubtasksAdded">
          <li>Write Legal Imprint</li>
          <div class="editDivSubtasks">
            <div class="editIcon"></div>
            <div class="vectorAddSubtask"></div>
            <div class="deleteIcon"></div>
          </div>
        </div>
      </section>
      <p class="add_task_required"></p>
    </div>
  </div>
</form>
<section class="add_task_btn_section">
  <p class="add_task_hint_required">This field is required</p>
  <div>
    <input onclick="clearAddTaskForm()" class="btn_add_task btn_clear" type="reset" value="Clear X">
    <button onclick="checkRequiredBtnAddTask(), addTask('toDoTask')" type="submit" id="btn_add_task_create_task"
      class="btn_add_task btn_create" disabled>
      Create Task
      <img src="../assets/img/icons/add_task_btn_check.svg" alt="check">
    </button>
  </div>
</section>
<div class="taskAdded d_none" id="taskAdded">
  <p>Task added to board</p>
  <img src="../assets/img/icons/nav_board_icon_white.svg" alt="">
</div>