.add_task_section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: fit-content;
}

.add_task_div {
  display: flex;
  flex-direction: row ;
  gap: 40px;
}

.seperator {
  width: 1px;
  background-color: #a8a8a8;
}

.add_task_input {
  height: 48px;
  width: 440px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 8px 16px;
  margin-top: 4px;
  font-size: 20px;

  &:focus{
    border: 1px solid #29ABE2;
  }
  &::placeholder{
  color: #d1d1d1;
  font-size: 20px;
  }
}

#addTaskCategoryInput::placeholder, #addTaskAssignedToInput::placeholder{
  font-size: 20px;
  color: black;
}

textarea {
  width: 440px;
  min-height: 156px;
  resize: none;
}

.add_task_required {
  height: 12px;
  color: #ff8190;
  margin-bottom: 12px;
}

.assignedToInput {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 12px 16px;
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.arrowDropDownInputs{
  overflow-y: scroll;
  width: 440px;
  max-height: 224px;
  background-color: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.arrowDropDownInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 7px 16px 7px 16px;
  border-radius: 10px;
  cursor: pointer;

  &:hover{
    background-color: #f6f7f8;
  }
}
    
.add_task_hint_required{
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    height: 100%;
}

.add_task_hint_required::before, .add_task_after_required::after{
    content: "*";
    color: #ff8190;
}

.add_task_half {
  display: flex;
  flex-direction: column;
}

.add_task_half label {
  height: 24px;
  font-size: 20px;
}

.add_task_priority_section{
    display: flex;
    gap: 16px;
    margin-top: 4px;
}

.priority_icons{
    width: 20px;
}

.add_task_btn_priorities{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 136px;
    height: 56px;
    cursor: pointer;
    border: unset;
    font-size: 20px;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 10px;

    &:hover{
        cursor: pointer;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.22);
    }
}

.priority_color_urgent {
  background-color: #ff3d00;
  color: white;
  font-weight: 700;
}

.priority_color_medium {
  background-color: #ffa800;
  color: white;
  font-weight: 700;
}

.priority_color_low {
  background-color: #7ae229;
  color: white;
  font-weight: 700;
}

.priority_color_urgent img, .priority_color_medium img, .priority_color_low img{
  filter: brightness(0) invert(1);
}

.add_task_btn_section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  gap: 16px;
  position: unset;
  right: 74px;
  bottom: 64px;
}

.add_task_btn_section div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
}

.btn_add_task {
  height: 56px;
  border-radius: 10px;
  padding: 16px;
  border: unset;
  font-size: 21px;
}

.btn_clear {
  background-color: #f6f7f8;
  border: 1px solid #2a3647;

  &:hover {
    color: #2aaae2;
    border-color: #2aaae2;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
  }
}

.btn_create {
  background-color: #2b3647;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: default;
}

.btn_create_enabled:hover {
    background-color: #2aaae2;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.btn_create img {
  height: 12px;
}

.addTaskTemplate {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}