.d_flex {
  display: flex;
}

.main_nav_bar {
  width: 232px;
  height: 1024px;
  background-color: #2b3647;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}

.nav_bar_logo {
  width: 100px;
}

.quick_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 20px;
}

.quick_link_row {
  height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 60px;
  gap: 8px;

  &:hover {
    background-color: #2a3d59;
  }
}

.quick_links_icons {
  height: 30px;
}

.quick_link {
  color: #cdcdcd;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_link {
  color: #a8a8a8;
  font-size: 16px;

  &:hover {
    color: #2aaae2;
  }
}

.collumn {
  display: flex;
  flex-direction: column;
}

.main_header {
  height: 96px;
  width: 1208px;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.main_header p {
  font-size: 20px;
  padding-left: 116px;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 40px;
}

.header_help_icon {
  height: 20px;
}

.header_user_profile {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 3px solid black;
  color: #2aaae2;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_content {
  width: 100%;
  height: 928px;
  background-color: #f6f7f8;
  padding-left: 100px;
  padding-top: 100px;
}

.add_task_section{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.seperator{
    width: 1px;
    background-color: #a8a8a8;
}

.add_task_input{
    height: 48px;
    width: 440px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 8px;
    margin-top: 4px;
    font-size: 20px;
}

.add_task_input::placeholder{
    color: #D1D1D1;
    padding: 8px;
    font-size: 20px;
}

textarea{
    width: 440px;
    min-height: 156px;
    resize: vertical;
}

.add_task_required{
    height: 12px;
    color: #FF3D00;
    margin-bottom: 12px;
}

.add_task_left{
    display: flex;
    flex-direction: column;
}

.add_task_left label{
    height: 24px;
    font-size: 20px;
}

.priority_urgent_color{
    color: #FF3D00;
}

.priority_meduim_color{
    color: #ffa800;
}

.priority_low_color{
    color: #7AE229;
}

.add_task_btn_section{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    position: relative;
    top: 200px;
}

.btn_add_task{
    height: 56px;
    border-radius: 10px;
    padding: 16px;
    border: unset;
    font-size: 21px;
}

.btn_clear{
    background-color: #f6f7f8;
    border: 1px solid #2A3647;

    &:hover{
        color: #2aaae2;
        border-color: #2aaae2;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.22);
        cursor: pointer;
    }
}

.btn_create{
    background-color: #2b3647;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &:hover{
        background-color: #2aaae2;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.22);
        cursor: pointer;
    }
}

.btn_create img{
    height: 12px;
}