.overflowY_hidden {
  overflow-y: hidden;
}

.add_task_section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: fit-content;
  height: 100%;
}

.add_task_div {
  display: flex;
  flex-direction: row ;
  gap: 2.5rem;
  gap: clamp(1rem, 2.77vw, 3.5rem);
}

.seperator {
  width: 1px;
  background-color: #a8a8a8;
}

.add_task_input {
  height: 4.7vh;
  width: 30vw;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 8px 16px;
  margin-top: 4px;
  font-size: clamp(1rem, 1.38vw, 1.5rem);

  &:focus{
    border: 1px solid #29ABE2;
  }
  &::placeholder{
  color: #d1d1d1;
  font-size: clamp(1rem, 1.38vw, 1.5rem);
}
}

#addTaskCategoryInput::placeholder, #addTaskAssignedToInput::placeholder{
  font-size: clamp(1rem, 1.38vw, 1.5rem);
  color: black;
}

textarea {
  width: 30vw;
  min-height: 156px;
  resize: none;
}

.add_task_required {
  height: 12px;
  color: #ff8190;
  margin-bottom: 12px;
}

.assignedToInput {
  width: 30vw;
  height: 4.7vh;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  font-weight: 400;
  font-size: clamp(1rem, 1.38vw, 1.5rem);
  color: black;
}

.assignedToInput:focus {
  border: 1px solid #29ABE2;
}

.arrowDropDownInputs{
  overflow-y: scroll;
  width: 30vw;
  max-height: 224px;
  background-color: white;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.arrowDropDownInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(1rem, 1.38vw, 1.5rem);
  padding: 7px 16px 7px 16px;
  border-radius: 10px;
  cursor: pointer;

  &:hover{
    background-color: #f6f7f8;
  }
}
    
.add_task_hint_required{
  font-size: clamp(0.875rem, 1.11vw, 1.25rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  height: 100%;
}

.add_task_hint_required::before, .add_task_after_required::after{
    content: "*";
    color: #ff8190;
}

.add_task_half {
  display: flex;
  flex-direction: column;
}

.add_task_half label {
  height: 24px;
  font-size: clamp(1rem, 1.38vw, 1.5rem);
}

.add_task_priority_section{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin-top: 4px;
}

.priority_icons{
    width: 1.19vw;
}

.add_task_btn_priorities{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: unset;
    gap: 0.55vw;
    height: 5.5vh;
    padding: 1vh clamp(0.5rem, 0.8vw, 1rem);
    font-size: clamp(1rem, 1.38vw, 1.5rem);
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 10px;

    &:hover{
        cursor: pointer;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.22);
    }
}

.priority_color_urgent {
  background-color: #ff3d00;
  color: white;
  font-weight: 700;
}

.priority_color_medium {
  background-color: #ffa800;
  color: white;
  font-weight: 700;
}

.priority_color_low {
  background-color: #7ae229;
  color: white;
  font-weight: 700;
}

.priority_color_urgent img, .priority_color_medium img, .priority_color_low img{
  filter: brightness(0) invert(1);
}

.addTaskSubtasksInput {
  width: 30vw;
  height: 4.7vh;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  display: flex;
  justify-content: space-between;
  padding: 1.175vh 1.1vw;
  background-color: white;
}

.addTaskSubtasksInput:focus-within {
  border: 1px solid #29ABE2
}

.addTaskSubtasksInput input{
  font-weight: 400;
  font-size: clamp(1rem, 1.38vw, 1.5rem);
  width: calc(100% - 25px);
}

.addIcon {
  background-image: url("../assets/img/icons/add.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 2.35vh;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  &:hover{
    background-color: #f0f0f0;
    border-radius: 50%;
  }
}

.addTaskSubtasksInput:focus-within .addIcon {
  background-image: url('../assets/img/icons/addhaken.svg');
  &:hover{
    background-color: #f0f0f0;
    border-radius: 50%;
  }
}

.xIcon {
  background-image: url("../assets/img/icons/X.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 2.35vh;
  width: 0px;
  opacity: 0;
  transition: width 0.2s ease-in;
}

.addTaskSubtasksInput:focus-within .xIcon {
  cursor: pointer;
  opacity: 1;
  width: 2.35vh;
  &:hover{
    background-color: #f0f0f0;
    border-radius: 50%;
  }
}

.addTaskSubtasksInput:focus-within .vectorAddSubtask {
  height: 2.35vh;
  width: 1px;
  background-color: rgba(209, 209, 209, 1);
  margin: 0px 4px 0px 4px;
  transition: opacity 0.2s ease;
}

.add_task_btn_section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  gap: 16px;
  position: fixed;
  left: calc(calc(100vw * 0.16) + calc(100vh * 0.09375));
  bottom: 6.25vh;
  width: calc(60vw + (clamp(1rem, 2.77vw, 3.5rem) * 2) + 1px);
}

.add_task_btn_section div{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 16px;
}

.btn_add_task {
  height: 5.5vh;
  border-radius: 10px;
  padding: 1.55vh;
  border: unset;
  font-size: clamp(1rem, 1.45vw, 1.5rem);
}

.btn_clear {
  background-color: #f6f7f8;
  border: 1px solid #2a3647;

  &:hover {
    color: #2aaae2;
    border-color: #2aaae2;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.22);
    cursor: pointer;
  }
}

.btn_create {
  background-color: #2b3647;
  border: unset;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: default;
}

.btn_create_enabled:hover {
  background-color: #2aaae2;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.btn_create img {
  height: 1.17vh;
}

.addTaskTemplate {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.taskAdded {
  background-color: #2A3647;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0px #00000026;
  font-weight: 400;
  font-size: clamp(1rem, 1.38vw, 1.5rem);
  width: 22.6vw;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 1920px;
  transform: translate(-50%, -50%);
}

.taskAdded p{
  width: 16.3vw;
}