.searchBarBoard {

}

.searchFieldBoard {
display: flex;
align-items: center;
justify-content: space-between;
width: 312px;
height: 48px;
border-radius: 10px;
border-width: 1px;
border: 1px solid rgba(168, 168, 168, 1);
gap: 10px;
padding-top: 8px;
padding-right: 16px;
padding-bottom: 8px;
padding-left: 16px;
background: rgba(255, 255, 255, 1);

}

.vector {
height: 31px;
border-width: 1px; 
border: 1px solid rgba(209, 209, 209, 1)
}

.headBoard {
width: 100%;
margin-bottom: 48px;
}

.searchFieldBoard svg {
background: white;
}

.headBoardPosition {
width: 1056px;
height: 73px;
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
}

.headBoardRight {
display: flex;
flex-direction: row;
width: 504px;
height: 48px;
gap: 32px;
}

.addTaskButton {
width: 160px;
height: 48px;
border-radius: 10px;
border-width: 1px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
background-color: rgba(42, 54, 71, 1);
color: white;
font-size: 21px;
font-weight: 700;
display: flex;
justify-content: center;
align-items: center;
gap: 4px;
}

.addTaskButton:hover {
background: rgba(41, 171, 226, 1);
}

.h1Board {
padding-bottom: 0;
}

.searchButton {
display: flex;
flex-direction: row;
gap: 16px;
}

.searchButton button {
background-color: white;
}

.searchFieldBoard input {
font-weight: 400;
font-size: 20px;
width: 100%;
height: 48px;
cursor: pointer;
background-color: transparent;
}

.searchFieldBoard:focus-within {
border: 1px solid #29ABE2
}

#taskBoard {
width: 100%;
height: 688px;
display: flex;
gap: 26px;
padding-right: 64px;
}

.baseBoard {
width: 246px;
height: 688px;
font-weight: 700;
font-size: 20px;
}

.headTask {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 10px;
}

.iconAdd:hover rect, .iconAdd:hover path {
stroke: #29ABE2; 
}

.iconSearch:active rect, .iconSearch:active path {
stroke: #29ABE2; 
}

#noTaskToDo {
width: 246px;
height: 48px;
border-radius: 10px;
border-width: 1px;
background: #E7E7E7;
border: 1px solid #A8A8A8;
box-shadow: 0px 0px 4px 0px #00000029;
font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;
color: #A8A8A8;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10px;
}

#taskCards {
    cursor: pointer;
    border-radius: 24px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.cardsFrame {

}

.cardsLabel {
    margin-bottom: 24px;
}

.cardsTitleAndContent {
    font-size: 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.cardsTitle {
    font-weight: 700;
}

.cardsContent {
    font-weight: 400;
    color: rgba(168, 168, 168, 1);
}

#cardsSubtasks {
    font-weight: 400;
    font-size: 12px;
}

#cardsProgressBar {
    width: 128px;
    height: 8px;
    border-radius: 8px;
    background: rgba(244, 244, 244, 1);
}

.cardsProgress {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

#progressBar {
    background: rgba(69, 137, 255, 1);
    height: 8px;
    border-radius: 16px;
}

#cardsBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cardsAssignedTo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 32px;
}

.cardsAssignedToIcon:nth-child(1) {
    position: absolute;
    left: 0;
}

.cardsAssignedToIcon:nth-child(2) {
    position: absolute;
    left: 24px;
}

.cardsAssignedToIcon:nth-child(3) {
    position: absolute;
    left: 48px;
}

#cardsPriority {
    display: flex;
    align-items: center;
}

#taskCards:active {
    transform: rotate(5deg);
}

.overlayBoard {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.375);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialogBoard {
    width: 525px;
    border-radius: 30px;
    background-color: white;

}

#dialogBoardFrame {
    margin: 48px 40px 48px 40px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

#closeOverlayBoard {
    background-color: transparent;
    height: 32px;
}

.dialogBoardTop {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#overlayTaskTitle {
    font-weight: 700;
    font-size: 61px;
}

#overlayTaskContent {
    font-weight: 400;
    font-size: 20px;
}

#overlayTaskDueDate {
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

#overlayTaskPriority {
    font-weight: 400;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    height: 32px;
    align-items: center;
}

#overlayTaskDueDate div {
    position: relative;
    left: 40px;
}

#overlayTaskPriority svg {
    position: relative;
    left: 40px;
}

.overlayTaskAissgnedTo p {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
}

#overlayTaskAissgnedToContacts {
    gap: 4px;
}

#overlayTaskAissgnedToContacts div {
    height:56px;
    display: flex;
    align-items: center;
    position: relative;
    left: 16px;
}

.overlayTaskSubtasks {
    height: 32px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 16px;
    font-size: 16px;
    padding-right: 32px;
    padding-left: 8px;
}

.overlayTaskSubtasks:hover {
    background-color: rgba(238, 238, 238, 1);
    border-radius: 10px;
}

.overlayTaskSubtasks p {
    margin-bottom: 0;
    position: relative;
    left: 16px;
}

.mb_8px {
    font-size: 20px;
    margin-bottom: 8px;
}

/* Verstecke die Standard-Checkbox */
input[type="checkbox"] {
    display: none;
    cursor: none !important;
}

/* Standard-Checkbox SVG (unchecked) */
.customCheckbox {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url('../assets/img/icons/checkbox-unchecked.svg');  /* Unchecked Zustand */
    background-size: cover;
    cursor: pointer;
}

/* Wenn die Checkbox gecheckt ist */
input[type="checkbox"]:checked + label .customCheckbox {
    background-image: url('../assets/img/icons/checkbox-checked.svg');  /* Checked Zustand */
}

/* Hover-Effekt für unchecked Zustand */
input[type="checkbox"]:not(:checked) + label .customCheckbox:hover {
    background-image: url('../assets/img/icons/checkbox-unchecked-hover.svg');   /*Unchecked Hover Zustand */
}  

/*Hover-Effekt für checked Zustand */
input[type="checkbox"]:checked + label .customCheckbox:hover {
    background-image: url('../assets/img/icons/checkbox-checked-hover.svg');   /*Checked Hover Zustand */
}  

/* Optional: Cursor auf das Label anwenden, um es auch klickbar zu machen */


#overlayTaskBottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    height: 24px;
    gap: 8px;
}

.overlayTaskDelete button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    background: none;
}

.overlayTaskEdit button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    background: none;
}

.overlayTaskVector {
    height: 24px;
    border: 1px solid rgba(209, 209, 209, 1)
}

.overlayTaskDelete button:hover svg path {
    fill: #29ABE2; /* Farbe bei Hover */
}

.overlayTaskEdit button:hover svg path {
    fill: #29ABE2; /* Farbe bei Hover */
}

.overlayTaskDelete button:hover {
    color: #29ABE2;
}

.overlayTaskEdit button:hover {
    color: #29ABE2;
}

#editDialogBoard {
    background-color: white !important;
    width: 525px;
    height: 930px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.editDialogBoardFrameWithScrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100% - 10px);
    margin: 24px 10px 24px 0px;
}

#editDialogBoardFrame {
    margin: 0px 40px 0px 40px;
    width: 445px;
    gap: 24px;
    display: flex;
    flex-direction: column;

}

#editDialogBoard button {
    background-color: transparent;
    margin-right: 40px;
    margin-top: 48px;
}

.editDialogBoardTop {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editDialogBoardTop p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px;
}

.editDialogBoardDescription{
    margin-bottom: 16px;
}

.inputEditDialogBoardTitle {
    width: 445px;
    height: 48px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    border: 1px solid rgba(209, 209, 209, 1);
    font-weight: 400;
    font-size: 20px;

}

.inputEditDialogBoardTitle:focus {
    border: 1px solid #29ABE2
    }

.requiredFieldDialog {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px !important;
    color: rgba(255, 129, 144, 1);
}

.inputEditDialogBoardDescription {
    width: 445px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 20px;
    resize: none;
}

textarea:focus {
    border: 1px solid #29ABE2;
    outline: none; 
}

.inputEditDialogBoardDueDate {
    width: 445px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 20px;
}

.inputEditDialogBoardDueDate:focus {
    border: 1px solid #29ABE2;
}

.editDialogBoardPriority{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 8px;
}

.editDialogBoardPriorityButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    width: 445px;
}

.editDialogBoardPriorityButton {
    margin-top: 0 !important;
    margin-right: 0 !important;
    cursor: pointer;
    border-radius: 10px;
    width: 136px;
    height: 56px;
    gap: 8px;
    padding-top: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.editDialogBoardPriorityButton:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.urgentPriorityButtonSelected {
    background-color: rgba(255, 61, 0, 1) !important;
    color: white !important;
    font-weight: 700;
}

.urgentPriorityButtonSelected:hover {
    cursor: pointer;
    box-shadow: none;
}

.urgentPriorityButtonSelected svg path {
    fill: white; /* Standardfarbe */
}

.mediumPriorityButtonSelected {
    background-color:rgba(255, 168, 0, 1)  !important;
    color: white !important;
    font-weight: 700;
}

.mediumPriorityButtonSelected:hover {
    cursor: pointer;
    box-shadow: none;
}

.mediumPriorityButtonSelected svg path {
    fill: white; /* Standardfarbe */
}

.lowPriorityButtonSelected {
    background-color:rgba(122, 226, 41, 1)  !important;
    color: white !important;
    font-weight: 700;
}

.lowPriorityButtonSelected:hover {
    cursor: pointer;
    box-shadow: none;
}

.lowPriorityButtonSelected svg path {
    fill: white; /* Standardfarbe */
}

.editDialogBoardAssignedTo {
    gap: 8px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
}

#editDialogBoardAssignedToInput {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

#editDialogBoardAssignedToInput:focus {
    border: 1px solid #29ABE2;
}

.arrowDropDown {
    background-image: url("../assets/img/icons/arrow_drop_down.svg");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

.arrowDropUp {
    background-image: url("../assets/img/icons/arrowDropUp.svg");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

#editDialogBoardAssignedToDropDown {
    overflow-y: scroll;
    width: 440px;
    max-height: 224px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
}



.dropDownContacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 7px 16px 7px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.dropDownContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.editDialogBoardAssignedToDropDownCheckbox {

}

.contactChecked {
    background: rgba(42, 54, 71, 1);
    color: white;
}

.contactUnchecked:hover {
    background-color: rgba(238, 238, 238, 1);

}

.contactCheckedCheckbox {
    background-image: url("../assets/img/icons/contactCheckedCheckbox.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 24px;
    width: 24px;

}

.contactUncheckedCheckbox {
    background-image: url("../assets/img/icons/contactUncheckedCheckbox.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 24px;
    width: 24px;
    
}

.contactChecked:hover {
    background-color: rgba(9, 25, 49, 1);
}

.editDialogBoardSubtasks {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.editDialogBoardSubtasksInput {
    width: 445px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background-color: white;
}

.editDialogBoardSubtasksInput:focus-within {
    border: 1px solid #29ABE2
}

.editDialogBoardSubtasksInput input{
    font-weight: 400;
    font-size: 20px;
    width: calc(100% - 25px);
}


.addIcon {
    background-image: url("../assets/img/icons/add.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.editDialogBoardSubtasksInput:focus-within .addIcon {
    background-image: url('../assets/img/icons/addhaken.svg');
}

.editDialogBoardSubtasksInput:focus-within .xIcon {
    background-image: url("../assets/img/icons/X.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.editDialogBoardSubtasksInput:focus-within .vectorAddSubtask {
    height: 24px;
    width: 1px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0px 4px 0px 4px;
}

.editDialogBoardSubtasks li {
    font-size: 16px;
    cursor: pointer;
    height: 32px;
    padding: 4px 16px 4px 16px;
}

.editDialogBoardSubtasksAdded:hover {
    background-color: rgba(238, 238, 238, 1);
}

.editDialogBoardSubtasksAdded:hover .editIcon {
    background-image: url("../assets/img/icons/pen-transparent.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.editDialogBoardSubtasksAdded {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.editDialogBoardSubtasksAdded:hover .deleteIcon {
    background-image: url("../assets/img/icons/deleteIcon.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.editDialogBoardSubtasksAdded:hover .vectorAddSubtask {
    height: 24px;
    width: 1px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0px 4px 0px 4px;
}

.editDivSubtasks {
    display: flex;
    flex-direction: row;
    padding: 4px 16px 4px 16px;
}

.editDivSubtasks2 {
    display: flex;
    flex-direction: row;
    padding: 4px 16px 4px 16px;
}

.saveEditTaskButton {
    margin-top: 0 !important;
    margin-bottom: 48px !important;
}

.addTaskDialogBoard {
    background-color: white;
    width: 1116px;
    height: 870px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.addTaskDialogBoardFrame {
    height: 100%;
    padding: 64px 74px 64px 74px;
    position: relative;
}

.addTaskDialogBoardClose {
    position: absolute;
    top: 64px;
    right: 74px;
    background-color: transparent;
}


.editableText {
    display: inline-block;
}

.editableText input {
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 4px 16px 4px 16px;
    width: 100%;
}

.editable:focus {
    outline: none;  /* Entfernt den Standardrahmen, wenn das Element fokussiert wird */
    background-color: white;
}

.deleteIcon2 {
    background-image: url("../assets/img/icons/deleteIcon.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.saveIcon {
    background-image: url("../assets/img/icons/saveIcon.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.vectorAddSubtask2 {
    height: 24px;
    width: 1px;
    background-color: rgba(209, 209, 209, 1);
    margin: 0px 4px 0px 4px;
}

.underline {
    outline: none;  /* Entfernt den Standardrahmen, wenn das Element fokussiert wird */
    border-bottom: 1px solid rgba(0, 93, 255, 1);
    font-weight: 400;
    background-color: white;
}

.editDialogBoardSubtasksAdded.underline:hover {
    background-color: transparent; /* Keine Änderung bei Hover, wenn underline aktiv ist */
}

