.main_content_contacts {
    width: 100%;
    height: 928px;
    background-color: #f6f7f8;
    display: flex;
    flex-direction: row;
}

.contacts {
    background-color: white;
    width: 456px;
    height: 100%;
    position: sticky;
    top: 96px;
    left: 232px;
    z-index: 3;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
    overflow-x: hidden;
}

.main_contacts {
    height: fit-content;
    padding-left: 48px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.main_contacts h1{
    padding-bottom: 0;
}

.contactsList {
    display: flex;
    align-items: center;
    padding-left: 16px;
    flex-direction: column;
    height: 100vh;
}

.seperator {
    height: 59px;
    border: 2px solid rgba(41, 171, 226, 1)
}

.addNewContactButton {
    width: 352px;
    height: 56px;
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1) ;
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.addNewContactButton:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.addNewContactButton:active {
    background-color: rgba(9, 25, 49, 1);
}

.contactsListTop {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 101px;
    background-color: white;
    z-index: 2;
}

#contactDetails {
    padding-left: 62px;
    padding-top: 32px;
    gap: 21px;
    display: flex;
    flex-direction: column;
}

.contactDetailsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 54px;
    height: 120px;
}

.contactName {
    font-weight: 500;
    font-size: 47px;
    padding-bottom: 8px;
}

.contactDetailsButtons {
    display: flex;
    flex-direction: row;
    gap: 13px;
    font-weight: 400;
    font-size: 16px;
}

.contactButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    min-width: 62px;
}

.contactButton:hover {
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;
}

.contactButton:hover svg path {
    fill: #29ABE2;  /* Die SVG-Farbe beim Hover ändern */
}

.contactDetailsMiddle{
    font-size: 20px;
    font-weight: 400;
    width: 207px;
    height: 74px;
    display: flex;
    align-items: center;
}

.contactDetailsKey {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}

#contactDetails a{
    color:#007CEE;
}

.alphabetInContactList {
    height: 58px;
    width: 352px;
    font-size: 20px;
    padding: 17px 36px;
}

.seperatorContactList {
    width: 352px;
    height: 1px;
    border-radius: 3px;
    border: 1px solid #D1D1D1;
    background-color: #D1D1D1;
    margin: 8px 0px;
}

.contactInList {
    cursor: pointer;
    height: 78px;
    width: 352px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    gap: 35px;
}

.contactInList:hover:not(.click) {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    border-radius: 10px;
}

.click {
    background: #2A3647;
    color: white;
    border-radius: 10px;
}

.contactInList p {
    font-size: 20px;
    margin-bottom: 5px;
}

.contactInList a{
    color:#007CEE;
}

.scrollContactList {
    padding: 32px 0px;
    position: absolute;
    top: 0;
}

.contactCircleSmall {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.contactCircleBig {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    box-shadow: 0px 0px 4px 0px #0000001a;
    border: 3px solid white;
    }