.main_content_help {
    width: 1014px;
    margin-left: 328px;
    margin-top: 206px;
    background-color: #f6f7f8;
    height: 928px;
}

.helpText {
    display: flex;
    flex-direction: column;
    gap: 24px;
}