.main_content_help {
    max-width: fit-content;
    min-height: calc(100vh - 96px);
    background-color: #f6f7f8;
    margin-left: calc(100vw *0.16);
    margin-top: calc(100vh *0.09375);
    padding: calc((2 / 3) * (100vh *0.09375)) calc(100vh *0.09375);
}

.helpText {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.h1_help {
    padding-bottom: 32px !important;
}

.h2_help {
    font-weight: 700;
    font-size: clamp(1rem, 1.875vw, 27px);
}

.h3_help {
    font-weight: 700;
    font-size: clamp(1rem, 1.38vw, 1.5rem);
}

.listing {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.listingContainer {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.arrowLeft {
    background-color: transparent;
    position: absolute;
    top: calc(100vh *0.17);
    right: calc(100vw *0.09375);
}

.arrowLeft:hover svg{
    background: #EEEEEE;
    border-radius: 42px;
    transform: scale(1.20);
}

.arrowLeft:hover svg{
    pointer-events: auto;
}
