.header_logIn {
    background-color: #f6f7f8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.header_LogIn_logo {
    margin: 80px;
}

.header_LogIn_right {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 35px;
    margin-right: 80px;
    margin-top: 67px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    font-family: 'Inter', sans-serif;    
}

.header_LogIn_right_btn {
    text-decoration: none;
    color: white !important;
    font-size: 16px;
    font-weight: 700px;
    background-color: #2A3647;
    border-radius: 8px;
    padding: 15px 16px;
    gap: 10px;
}

.header_LogIn_right_btn a {
    text-decoration: none;
    color: white !important;
    font-size: 16px;
    font-weight: 700px;
}

.main_logIn {
    background-color:#f6f7f8;
}

.logIn_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    padding-bottom: 500px;
}

.input_logIn {
    width: 422px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

#logInEmail {
    background-image: url('../assets/img/icons/mail.svg'); 
    background-repeat: no-repeat;
    background-position: 380px center; 
}

#logInPassword {
    background-image: url('../assets/img/icons/lock.svg'); 
    background-repeat: no-repeat;
    background-position: 380px center; 
}

.logIn_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
}

.logIn_btn {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #2A3647;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 15px 24px 15px 24px;
    gap: 10px;
}

#guestLogInBtn {
    border-style: solid;
    border-width: 1px;
    border-color: #2A3647;
    text-decoration: none;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700px;
    background-color: white;
}