    .main_nav_bar {
    /* min-width: 232px; */
    width: calc(100vw *0.16);
    height: 100vh;
    background-color: #2b3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6.25% 0;
    position: fixed;
  }

  .nav_bar_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .nav_bar_logo {
    width: 44%;
  }
  
  .quick_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 1.25rem;
    margin-top: 11.3vh;
  }
  
  .quick_link_row {
    display: flex;
    align-items: center;
    width: 100%;
    height: clamp(2.5rem, 4.5vh, 3.25rem);
    gap: 8px;
    padding-left: clamp(1.5rem, 4.2vw, 3.75rem);
    cursor: pointer;
  
    &:hover {
      background-color: #2a3d59;
    }
  }
  
  .quick_links_icons {
    height: 65.2%;
  }
  
  .quick_link {
    color: #cdcdcd;
    font-size: clamp(0.875rem, 1.11vw, 1.25rem);
  }
  
  .footer_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
  }
  
  .footer_link {
    color: #a8a8a8 !important;
    font-size: clamp(0.875rem, 1.11vw, 1.25rem);
    padding-left: clamp(1.5rem, 4.2vw, 3.75rem);
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .footer_link_hover{
    &:hover {
      color: #2aaae2 !important;
      font-weight: 700;
    }
  }
  
  .collumn {
    display: flex;
    flex-direction: column;
  }

  .main_content {
    max-width: fit-content;
    min-height: calc(100vh - 96px);
    background-color: #f6f7f8;
    margin-left: 232px;
    margin-top: 96px;
    padding: 64px 96px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main_content_summary {
    height: calc(100vh - 96px);
    background-color: #f6f7f8;
    margin-left: 328px;
    margin-top: 96px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main_content_board {
    height: calc(100vh - 96px);
    background-color: #f6f7f8;
    margin-left: 232px;
    margin-top: 96px;
    padding-left: 64px;
    padding-top: 80px;
    position: relative;
  }

  .bg_dark_blue{
    background-color: #081931;
    color: white;
    cursor: default;

    &:hover{
      background-color: #081931;
    }
  }


  @media (max-width: 1200px) {
    .quick_link_row, .footer_link {

      padding-left: clamp(1.5rem, 3.1vw, 3.75rem);
    }
  }


  @media (max-width: 1000px) {
    .quick_link_row, .footer_link {

      padding-left: clamp(1.5rem, 2.1vw, 3.75rem);
    }
  }