@media (max-width:1024px) {
    .close_overlay{
        right: calc(50% - 198px);
        background-color: #2A3647;
    }

    #closeOverlayButton{
        background-color: #2A3647;
    }

    #closeOverlayButton img{
        filter: brightness(0) invert(1);
    }

    .add_contact_container {
        flex-direction: column;
        top: unset;
        left: unset;
        height: calc(100vh - 160px);
        position: relative;
    }

    .add_contact_left {
        border-radius: 30px 30px 0 0;
        height: 50%;
    }

    .add_contact_logo{
        display: none;
    }

    .add_contact_right{
        border-radius: 0 0 30px 30px;
    }

    .add_contact_middle {
        height: auto;
        background-color: unset;
        flex: unset;
        padding: 0;
        position: absolute;
        top: calc(50% - 80px);;
        left: calc(50% - 60px);
        z-index: 4;
    }

    .add_contact_img{
        margin-bottom: 0;
    }

    .add_contact_right{
        padding: 66px 16px 66px 16px;
    }

    .add_contact_btns{
        justify-content: center;
    }

    .cancel_contact_btn{
        display: none;
    }
}