@media (max-width:1024px) {
    .main_content_contacts{
        margin: 80px 0;
        height: calc(100vh - 160px);
    }

    .contacts{
        height: calc(100vh - 160px);
        left: 0;
        width: 100vw;
    }

    #contactList > :first-child {
        display: none;
    }

    .contactsList {
        height: calc(100vh - 160px);
    }

    .main_contacts, #contactDetails, #addContactSuccess, #editContactSuccess, #deleteContactSuccess{
        display: none;
    }

    .contactsListTop{
        height: unset;
        top: unset;
        bottom: 96px;
        right: calc((100vw / 2) - 199px);
    }

    .addNewContactButton {
        width: 56px;
        border-radius: 50%;
        box-shadow: 2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    }

    .addNewContactButtonText {
        display: none;
    }

    .click {
        background: none;
        color: black;
    }

    .main_contacts{
        flex-direction: column;
        align-items: start;
    }

    .seperator{
        height: 1px;
        width: 90px;
        order: 3;
    }

    .contactName{
        padding: 0;
    }

    .contactDetailsButtons{
        position: absolute;
        right: 8px;
        bottom: 96px;
        flex-direction: column;
        background-color: white;
        border-radius: 20px 20px 0 20px;
        box-shadow: 2px 0px 6px 0px rgb(0, 0, 0, 0.2);
        padding: 10px;
        gap: 0;
        z-index: 1;
    }

    .contactButton{
        height: 40px;
        min-width: 96px;
        padding: 8px;
    }
}