@media (max-width:1024px) {
    .main_content_contacts{
        margin: 80px 0;
        height: calc(100vh - 160px);
    }

    .contacts{
        height: calc(100vh - 160px);
        left: 0;
        width: 100vw;
    }

    #contactList > :first-child {
        display: none;
    }

    .contactsList {
        height: calc(100vh - 160px);
    }

    .main_contacts,.contactsListTop, #contactDetails, #addContactSuccess, #editContactSuccess, #deleteContactSuccess{
        display: none;
    }
}